<?xml version="1.0"?>

<model>
  <name>tunel_levhasi</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Zeynep Beraa Ozyurek</name>
    <email>zeynepberraozyurek53@gmail.com</email>
  </author>

  <description>
    Best sign tunel levhasi in the world
  </description>

</model>
