<?xml version="1.0"?>

<model>
  <name>traffic_light_red</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Alper Tuna</name>
    <email>replatuuna@gmail.com</email>
  </author>

  <description>
    Best red traffic light in the world
  </description>

</model>
