<?xml version="1.0"?>

<model>
  <name>traffic_light_yellow</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Beraa</name>
    <email>zeynepberraozyurek53@gmail.com</email>
  </author>

  <description>
    Best yellow traffic light in the world
  </description>

</model>
